<%= image_tag @picture.image.url(:original)%>
<p><%= @picture.caption %></p>

<h2><%= "Comments" %></h2> 
<% @picture.comments.each do |comment| %>
  <%= comment.message %>
  <br><br>
<% end %>

<%= link_to "Comment", new_picture_comment_path(@picture) %>
